form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

div {
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

input {
    width: 100%;
}

button {
    width: 100%;
}

h1 {
    text-align: center;
}