<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Pedido</title>
</head>
<link rel="stylesheet" th:href="@{/css/styles.css}"/>

<body>
<h1>Localizar Pedido</h1>
<form action="#" th:action="@{/pedido/localizar}" th:object="${existe}" method="get">
    <div>
        <label for="numeroPedido">Número do Pedido:</label>
        <input type="text" id="numeroPedido" th:field="*{numeroPedido}"/>
    </div>
    <div>
        <button type="submit">Localizar</button>
    </div>
</form>
</body>

</html>
</form>
<div th:if="${message}">
    <p th:text="${message}"></p>
</div>




