<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Pedido</title>
</head>
<link rel="stylesheet" th:href="@{/css/styles.css}" />

<body>
    <h1>Cadastro de Pedido</h1>
    <form action="#" th:action="@{/pedido/form}" th:object="${pedido}" method="post">
        <div>
            <label for="numeroPedido">Número do Pedido:</label>
            <input type="text" id="numeroPedido" th:field="*{numeroPedido}" />
        </div>
        <div>
            <label for="descricaoPedido">Descrição do Pedido:</label>
            <input type="text" id="descricaoPedido" th:field="*{descricaoPedido}" />
        </div>
        <div>
            <label for="scriptsql">Script SQL::</label>
        </div>
            <textarea id="scriptsql" th:field="*{scriptsql}" rows="10"></textarea>
        </div>
        <div>
            <label for="status">Status:</label>
            <input type="text" id="status" th:field="*{status.status}" />
        </div>
        <div>
            <button type="submit">Cadastrar</button>
        </div>

</body>
<div>
    <a href="/pedidos" class="button">Visualizar Pedidos</a>
</div>
</html>
    </form>
    <div th:if="${message}">
        <p th:text="${message}"></p>
    </div>




